/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: black;
    color: white;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 30px;
    position: relative;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: 0.25s;
}

nav a:hover {
    background: #b00b0b;
    border-radius: 5px;
}

.slider {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.list {
    display: flex;
}

.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0;
}

.list .item {
    width: 100%;
    height: 100%;
    position: relative;
}

.list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3em;
}

.type {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #840e0e;
}

.button button {
    border: none;
    background: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.4s;
    padding: 10px 20px;
}

.button button:hover {
    transform: scale(1.2);
    border-color: #c01414;
    border: 2px solid #000;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.Arrow-buttons {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.Arrow-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c01414;
    border: none;
    color: aliceblue;
    transition: 0.5s;
    cursor: pointer;
}

.Arrow-buttons button:hover {
    background-color: #fff;
    color: #000;
}

.next,
.previous {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    color: #000;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.next:hover,
.previous:hover {
    background: #000;
    color: #fff;
}



.slider .list .item:nth-child(1) {
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slider .item:nth-child(1).content.title {
    animation: 0.4 !important;
}

.slider .item:nth-child(1).content.type {
    animation: 0.6 !important;
}

.slider .item:nth-child(1).content.description {
    animation: 0.8 !important;
}

.slider .item:nth-child(1).content.button {
    animation: 1s !important;
}

.slider .list .item:nth-child(1) .content .title {
    animation: showContent 0.5s linear 1s forwards;
}

.slider .list .item:nth-child(1) .content .type {
    animation: showContent 0.5s linear 1s forwards 0.4s;
}

.slider .list .item:nth-child(1) .content .description {
    animation: showContent 0.5s linear 1s forwards 0.6s;
}

.slider .list .item:nth-child(1) .content .button {
    animation: showContent 0.5s linear 1s forwards 0.8s;
}

.slider .next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s linear 1s forwards;
}

@keyframes showImage {
    from {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider .next .list .item:nth-child(1) img {
    animation: showImage 0.5s linear 1s forwards;
}

.slider .next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.slider .previous.list.item img {
    z-index: 100;
}

.slider .next .thumbnail .item:nth-last-child(1) {
    animation: showThumbnail 0.5s linear 1s forwards;
}

.slider .previous .list .item:nth-child(2) {
    z-index: 2;
}

.slider .previous .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider.next.thumbnail {
    animation: effectNext 0.5s linear 1s forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 15%;
        border-radius: 20px;
    }
}

.slider .previous .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1s forwards;
}

.slider .previous .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
}

.slider .previous .thumbnail .item:nth-child(1) {
    animation: showThumbnail 0.5s linear 1s forwards;
}

.slider .previous .list .item:nth-child(2) .content .title,
.slider .previous .list .item:nth-child(2) .content .type,
.slider .previous .list .item:nth-child(2) .content .description,
.slider .previous .list .item:nth-child(2) .content .button {
    animation: contentOut 1.5s linear 1s forwards !important;
}

.slider.next.Arrow-buttons.button,
.slider.previous.Arrow-buttons.button {
    pointer-events: none;
}

@keyframes contentOut {
    to {
        transform: translateX(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.slider .next,
.slider .previous {
    pointer-events: none;
}

@media screen and (max-width: 678px) {
    nav {
        margin-left: 0;
        justify-content: center;
        gap: 10px;
    }
    a {
        font-size: 0.7rem;
    }
    .slider.list.item.content {
        padding-right: 0;
    }
    .slider.list.item.title {
        font-size: 50px;
    }
} */

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-text {
    font-size: 50px;
    color: #f9f9f9;
    text-align: center;
    padding: 50px;
    opacity: 0;
    font-weight: bold;
    animation: fadeIn 3s ease-in-out forwards;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* تعريف الأنيميشن */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}